html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

section {
    padding: 100px 20px;
    height: 100vh;
}

#start {
    background-color: #f4f4f4;
    text-align: center;
}

#aboutme {
    background-color: #ddd;
}

#profession {
    background-color: #c4c4c4;
}

#hobbies {
    background-color: #aaa;
}

#hobbies ul li {
    font-size: 18px;
}


#contact {
    background-color: #888;
    color: white;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50 px;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

#footer p {
    padding: 15px;
    color: white
}

h1, h2 {
    margin: 0;
}

p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}