{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <title>Jonas Huggler's Webspace</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="#start">Start</a></li>
            <li><a href="#aboutme">About Me</a></li>
            <li><a href="#profession">Profession</a></li>
            <li><a href="#hobbies">Hobbies</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#projects">Projects</a></li>
        </ul>
    </nav>


    <!-- Sections -->
    <section id="start">
        <dev style="text-align: center;">
            <h1 style="font-size: 52px;">Jonas Huggler</h1>
            <p> Aspiring software developer with skills in Python, C, HTML, CSS</p>
        </dev>

        <hr>
        <h2>My current enrolled course</h2>
        <div class="course-container">
            <div class="course-video">
                <a href="https://video.cs50.io/PmAI76OGE_E" target="_blank">
                    <img src="{% static 'images/cs50-logo.png' %}" alt="CS50 Week 6" class="course-logo">
                    <span class="play-button">▶</span>
                </a>
            </div>
            <div class="course-text">
                <p><a href="https://cs50.harvard.edu/x/" target="_blank" class="cs50-main-link">CS50: Introduction to Computer Science</a></p>
                <p>  Harvard University's introduction to computer science and programming.</p>
                <p>  Progress: Week 5 - Python of 10</p>
            </div>
        </div>
        <hr>
        <h2>Dive in and explore my website</h2>
        <div class="large-tile-container">
            <div class="large-tile tile-about">
                <a href="#aboutme">
                    <div class="large-tile-content">
                        <h3>About Me</h3>
                        <p>Discover my background and journey into programming</p>
                    </div>
                </a>
            </div>
            <div class="large-tile tile-projects">
                <a href="#projects">
                    <div class="large-tile-content">
                        <h3>Projects</h3>
                        <p>Explore my coding projects and achievements</p>
                    </div>
                </a>
            </div>
            <div class="large-tile tile-contact">
                <a href="#contact">
                    <div class="large-tile-content">
                        <h3>Contact</h3>
                        <p>Get in touch and connect with me</p>
                    </div>
                </a>
            </div>
        </div>
        <hr>
        <h2>Connect with me on my socials</h2>
        <ul class="social-links">
            <li>
                <a href="https://www.linkedin.com/in/jonashuggler" target="_blank">
                    <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" class="social-icon">LinkedIn
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/@jonashuggler" target="_blank">
                    <img src="{% static 'images/youtube.png' %}" alt="YouTube" class="social-icon">YouTube
                </a>
            </li>
            <li>
                <a href="https://github.com/JonasRSH" target="_blank">
                    <img src="{% static 'images/github.png' %}" alt="GitHub" class="social-icon">GitHub
                </a>
            </li>
        </ul>
            
    </section>

    <section id="aboutme">
        <h2>About Me</h2>
        <hr>
        <div style="display: flex; align-items: center;">
            <img src="{% static 'images/Jonas.jpg' %}" alt="Photo of Jonas" style="width: 300px; height: auto; margin-right: 20px; margin-top: 10px;">
            <div>
                <p>My name is Jonas Huggler. I am born in Germany, Trier and I live currently in Switzerland, Bern.</p>
                
                <p><strong>Career Identity Statement:</strong> I am a dedicated and experienced professional in European logistics and customs, with a passion for learning and transitioning into the field of computer science and programming.</p>
                <p><strong>What distinguishes me:</strong>
                    <ul>
                        <li>Independence</li>
                        <li>Efficiency</li>
                        <li>Teamwork skills</li>
                        <li>Willingness to learn and interest in new things</li>
                        <li>Reliability</li>
                        <li>Good comprehension skills</li>
                        <li>Ability to identify problems and develop solutions</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <section id="profession">
        <h2>Profession</h2>
        <hr>
        <p>I am an expert in import and export, specializing in European logistics road transport, and customs, with over 20 years of experience.</p>
        <p>Recently, I decided to learn a new profession and pursue a career in computer science, with the goal of becoming a programmer.</p>
        <p>I am currently learning C, Python, HTML, CSS, Django and the basics how the internet and http protocol works. Additionally, I have 
           a strong interest in artificial intelligence, cybersecurity, and ethical hacking. I am excited to expand my knowledge in these 
           areas and I am currently looking for a job in this field as a career changer and exploring the possibility of pursuing any 
           professional certificate or obtaining a Bachelor's degree in Computer Science.</p>
    </section>

    <section id="hobbies">
        <h2>Hobbies</h2>
        <hr>
        <p>Learn about the things I love to do in my free time.</p>
        <h3>My hobbies are:</h3>
        <ul>
            <li><strong>Capoeira</strong>
                <p>Capoeira is a unique Brazilian martial art that combines elements of dance, acrobatics, music, and culture.
                    Capoeira is characterized by its fluid, rhythmic movements and the use of kicks, spins, and flips, all performed
                    in a circular formation known as the "roda". Capoeira is not only a physical practice but also a way of live.
                </p>
            </li>
            <li><strong>Fitness Training</strong>
                <p>I wake up at 5 o'clock two times a week to work on improving my fitness. This important for me to maintain my health and mobility.</p>
            </li>
            <li><strong>Music</strong>
                <p>When I find some time among all my other activities, I love to make some music. My repertoire of instruments includes the violin, acoustic guitar, cavaquinho and percussion for capoeira.</p>
            </li>
            <li><strong>Programming</strong>
                <p>Currently, programming is just a hobby for me, but I aspire to make it my profession. I am actively learning Python, C, HTML, CSS and JavaScript.</p>
                </p>
            </li>
        </ul>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <hr>
        <h3>Get in touch</h3>
        <p>Wether you have a question, a project idea, or just want to say hello - feel free to reach out to me.</p>
        <ul>
            <li>Email: <span class="contact-info">jonas.huggler[at]me[dot]com</span></li>
            <li>LinkedIn: <span class="contact-info">linkedin.com/in/jonashuggler</span></li>
        </ul>
        <hr>
        <h3>Write to me directly through the email form</h3>
    
        {% if messages %}
            {% for message in messages %}
                <div class="success-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    
        <form method="post" class="contact-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

    

        <script>
            document.querySelectorAll('.contact-info').forEach(function(element) {
                element.textContent = element.textContent.replace('[at]', '@').replace('[dot]', '.');
            });
        </script>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <hr>
        <p>This section will showcase my projects shortly.</p>
        <hr>
        <h3>Plans and goals</h3>
        <p>I am Working towards becoming a professional programmer. I am currently completing CS50: Introduction to Computer Science
           and plan to expand my sklills next in JavaSkript, SQL, TypeScript and Shell Programming.</p>

        <p>I will share reusable Django modules that can be customized to fit your needs and design.</p>

        <p>Further I plan to make small applications for digitalization and automation of workflows for different tasks - think of it as 
           tools to create, experiment and make things happpen.</p>
    </section>

     <!-- Footer -->
    <footer id="footer">
        <p>&copy; 2026 Jonas Huggler | latest update: 24. Januar 2026</p>
    </footer>


</body>
</html>
